*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
	color: #F6F6F6;
    padding-top: 110px;
   
}
/*css for fixed header*/
header{
	background: transparent;
    z-index: 1;
    width: 100%;
    padding:  1.5% 2%;
	top: 0;
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-o-transition:all ease-out 0.5s;
	transition:all ease-out 0.5s;
}
.header{
	background-color: white;
}
.change{
	background-color:black;
	color: blanchedalmond;
}

header h1{
	font-family: 'Dosis', sans-serif;
    padding: 0px;
  margin: auto;
}

header .open{
    left: 0;
    font-size: 30px;
    cursor: pointer;
    
}
/*navbar css*/
nav{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    background-color: black;
    overflow: hidden;
    transition: 1s;
    top: 0;
    left: 0;
}
nav a{
    text-decoration: none;
    font-size: 25px;
    padding: 5%;
    color: blanchedalmond;
    display: block;
	transition: 1s;
	font-family: 'Dosis', sans-serif;
}
nav a:hover{
    background-color: #DBCFBC;
    color: black;
    text-decoration: none;
}
nav .close{
	font-size: 38px;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
}
nav div{
	margin: 25% 0px;
}
/*css intro*/
.intro{
    width: 100%;
    margin-bottom: 100px;
    padding: 3% 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.wallpaper.com/main/styles/responsive_770w_scale/s3/galleries/15/11/potafiori-2.jpg);
}
/*css for card in the middle intro*/
.cardforintro{
	font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 3%;
    width: 50%;
    margin: 20% auto;
    opacity: 0.7;
	background-color: aliceblue;
	color: black;
}
.cardforintro p{
	border-top: 2px solid rgb(63, 60, 60);
	width: 50%;
	margin: 0px auto;
}

/*css for info about flower shop*/
.aboutus{	
	border-top:2px solid black;
	margin-bottom: 100px;
}
.aboutus img{
    width: 80%;
}
.aboutussecret{
	display: flex;
	flex-direction: row;
}
.aboutussecret p{
	padding: 2%;
	font-size: 20px;
	text-align: justify;
}
/*container for carousel and options*/
.menu{
	font-family: 'Dosis', sans-serif;
	margin: 0px 2%;
	color: black;
	padding: 2%;
	opacity: 0.9;
    background-color: #F6E3CB;
}
/*css for bootstrap carousel*/
.menu .carousel{
	padding: 2%;
}
/*card with img and hovering info in carousel*/
.mycard {
	position: relative;
	display: inline-block;
    overflow: hidden;
	margin: 0.5%;
	border-radius: 5px;
}
.mycard .imghid {
	display: block;
}
.mycard .mycardtext {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.mycard:hover .mycardtext,
.mycard.active .mycardtext {
	opacity: 1;
}
.mycard .texta {
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/*switch button betwen option*/
.spisok{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
fieldset h1{
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}
.spisok button{
	background-color: white;
	border:6px solid white;
	width: 30%;
	padding: 1%;
	font-weight: 600;
	transition: 0.6s ease;
}
.spisok button,
.spisok button:active,
.spisok button:focus{
	outline: none;
}
.spisok button:hover{
	border-bottom:4px solid #B0CE78;
}
/*option by their timatic lil ver*/
#t3,#t2{
	display: none;
}
.ty1,.ty2,.ty3{
	margin: 20px 0px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ty1 h2 a, .ty2 h2 a, .ty3 h2 a{
	margin: 0 auto;
	transition: ease-out 0.5s;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: 600;
}
.ty1 h2 a:hover,
.ty2 h2 a:hover,
.ty3 h2 a:hover{
	 text-decoration: none;
	 color: #8BB560;
}
.ty1 a, .ty2 a, .ty3 a{
	width: 100%;
	padding: 0px auto;
	text-align: center;
	text-decoration: none;
	color: black;
}
/*there is card with img and text */
.t1flower{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1%;
}
.t1flower img{
	width: 25%;
}
.t1flower .info{
	display: flex;
	flex-direction: column;
	padding: 3%;
	width: 50%;
}
.t1flower .info p{
	height: 90%;
	text-align: justify;
}
.t1flower .info div{
	display: flex;
	flex-direction: row;
    padding: 20px;
	justify-content: space-between;
	

}
.t1flower .info div a{
    font-size: 21px;
    bottom: 0;
    right: 0;
    top: 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.3s ease;
	outline: none;
	text-align: end;
   
  }
  .t1flower .info div a:hover {
	color: #8BB560;
}
/*footer css*/
footer{
    width: 100%;
	height:auto;
    background-color: black;
    padding-bottom: 3%;
}
footer h1{
    padding: 3% 0px;
    margin: 0px auto;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    color: blanchedalmond;
}
footer img{
    width: 100%;
}
footer .row{
    width: 80%;
    justify-content: center;
    padding: 0px 10% ;
    margin: 0px auto;
}
footer .row .col{
    justify-content: center;
    width: 25%;
    padding: 2%;
}
footer .row .col p{
    font-family: 'Staatliches', cursive;
    font-weight: 100;
    font-size: 30px;
    color: blanchedalmond;
}
footer .row .col a{
    position: relative;
    text-decoration: none;
    list-style: none;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    color: rgba(240, 233, 223, 0.74);

}
footer .row .col a:hover{
    font-size: 23px;
}
/*bg window make up darker when dialog form come up*/
.dmodal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black;
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
 .dialog{
    margin: auto;
    position: relative;
    animation-name:dform ;
    -webkit-animation-name: dform;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    z-index: 5;
    background-image:url(https://data.whicdn.com/images/318537820/original.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    width: 40%;
    padding: 2%;
    border-radius: 3%;
    
}
/*animation with move of dialog form*/
@-webkit-keyframes dform{
    from{opacity: 0;top: -300px;}
    to{opacity: 1;top: 0;}
}
@keyframes dform{
    from{opacity: 0;top: -300px;}
    to{opacity: 1; top: 0;}
}
/*dialog form css*/
.dialog .con{
    opacity: 0.9;
    background-color: blanchedalmond;
    color: black;
    width: 90%;
    margin: auto;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.dialog form{
    display: flex;
    flex-direction: column;
    padding: 0 25%;
}
.dialog form input{
    padding: 1%;
    width: 90%;
}
.dialog button{
	outline: none;
    background-color: black;
    color: blanchedalmond;
    border-radius: 6px;
    padding: 1%;
    margin: 0 auto;
    width: 35%;
    border: 0px;
    transition: ease-out 0.5s;
    text-decoration: none;
}
.dialog button,
.dialog button:active,
.dialog button:focus{
	outline: none;
}
.dialog button:hover{
    background-color: burlywood;
    color: black;
    text-decoration: none;
    border: none;
}
/*tablet*/
@media(max-width:800px)
{
	.dialog{
		width: 66%;
	}
	body{
        padding-top: 90px;
    }
	header .open{
		font-size: 30px;
		margin-left: 2%;
	}
.aboutus .aboutussecret{
	display: flex;
	flex-direction: row;
}
.aboutus img{
	padding-top: 3%;
	width: 50%;
	height: 30%;
}
.aboutus p{
	padding: 2%;
	font-size: 18px;
	width: 50%;
}

	.mycard{
		width: 36%;
		height: auto;
	}
	.t1flower img{
		width: 40%;
	}
	.t1flower .info{ 
		width: 50%;
	}
	  
footer .row .col{
    width: 30%;
    margin: 2%;
}
}
/*phone*/
@media(max-width:415px)
{
	
	.dialog{
		width: 90%;
	}
	body{
        padding-top: 50px;
    }
	header .open{
		font-size: 20px;
		margin-left: 5%;
	}
	nav a{
		font-size: 20px;
	}
	.intro h1{
		font-size: 23px;
	}
	p{
		font-size: 12px;
	}

    header h1{
	font-size: 24px;
   } 	

    .aboutus p {
		font-size: 16px;
	margin : 1%;
    }
    .aboutus img{
	width: 100%;
     }
    .aboutus .aboutussecret{
	display: flex;
	flex-direction: column;
    }
    .aboutus p{
	width: auto;
	padding: 0%;
    }

    .spisok{
	flex-direction: column;
	margin-left: 17%;
    }
    .spisok button{
	width: 80%;
    }	

	.mycard img{
		width: 160px;
		height: 140px;
	}
	.carousel .row{
		display: flex;
		flex-direction: row;
	}
	.t1flower{
		flex-direction: column;
		padding-left: 10%;
	}
	.t1flower img{
		width: 90%;
	}
	.t1flower .info{
		width: 90%;
	}

	footer .row{
        display: flex;
        flex-direction: column;
    }
	footer{
		height:600px;
	}
    footer h1{
        font-size: 30px;
    }
    footer .row .col{
	    height:200px;
        width: 90%;
        display: flex;
        flex-direction: row;
    }
    footer .row .col div{
        width: 45%;
        padding: 2%;
    }
    footer .row .col p{
        float: right;
        font-size: 23px;
    }
    footer .row .col a{
        float: left;
        font-size: 18px;
        
    }
    footer .row .col a:hover{
        font-size: 20px;
    }
}